{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
    <h1>Watchlist</h1>
    <br>
    <div class="d-flex flex-column">
      {% for listing in watchlist %}
        <div class="listing card p-4 mb-3">
          <h4>
            <strong><a href="{% url 'listing_page' listing.auction_listing.id %}">{{ listing.auction_listing.title }}</a></strong>
          </h4>
          <p><strong>Price:</strong> ${{ listing.auction_listing.current_price }}</p>
          <p>Created {{ listing.auction_listing.created_at }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
